/* Loader spinning circle */
.loader {
	position: fixed;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
	z-index: 5000;
	display: none;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

body {
	padding: 0;
	margin: 0;
}
html, body, #map, .row {
	height: 100%;
	width: 100%;
}
.sidebar {
	z-index: 450;
}
.my-doticon {
	font-size: 50%;
	color: #777
}